<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
      function confirmLogout(event) {
        if (!confirm("¿Estás seguro de que quieres cerrar sesión?")) {
          event.preventDefault(); // Evita que la página se recargue si no se confirma
        }
      }
    </script>
  </head>
  <body class="d-flex align-items-center" style="height: 100vh;">
    <div class="container text-center w-100">
        <h1>Bienvenido al Sistema de Reservas</h1>
        <div class="mt-4">
            <a href="{{ url_for('reservar') }}" class="btn btn-primary">Hacer una Reserva</a>
            <a href="{{ url_for('reservas') }}" class="btn btn-info">Ver Reservas</a>
        </div>
        <div class="mt-3">
          <!-- Agrega el evento de confirmación al enlace de cierre de sesión -->
          <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm" onclick="confirmLogout(event)">Cerrar sesión</a>
        </div>
    </div>
  </body>
</html>
