<!DOCTYPE html>
<html>
<head>
    <title>Reservas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center">
        <h1>Lista de Reservas</h1>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Detalles</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva[0] }}</td>
                    <td>{{ reserva[1] }}</td>
                    <td>{{ reserva[2] }}</td>
                    <td>{{ reserva[3] }}</td>
                    <td>{{ reserva[4] }}</td>
                    <td>{{ reserva[5] }}</td>
                    <td>{{ reserva[6] }}</td>
                    <td>{{ reserva[7] }}</td>
                    <td>
                        <!-- Botón para eliminar -->
                        <a href="{{ url_for('eliminar_reserva', id=reserva[0]) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar esta reserva?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Inicio</a>
        <a href="{{ url_for('reservar') }}" class="btn btn-primary">Hacer una Reserva</a>
    </div>
</body>
</html>
